/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Importing all components file */
@import url("components/cards.css");
@import url("components/button.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container {
  width: 900px;
  margin: 0 auto;
}

.sub-section {
  padding: 200px 0 20px 0;
  text-align: center;
  font-size: 32px;
}
#works {
  padding: 50px 0 200px 0;
  display: flex;
  justify-content: space-between;
}

.banner {
  background-image: url(../images/background.png);
  /* background-size: cover; */
  background-position: center;
  color: white;
  padding: 200px 0 0 0;
}

.img-float {
  position: relative;
  width: 500px;
  height: auto;
  margin: 0 auto;
  z-index: 1;
}

.mac {
  position: relative;
  width: 100%;
  top: 90px;
}

.footer {
  padding: 100px;
  background-color:slategray;
  color: white;
  text-align: center;
}

.links a{
  font-size: 32px;
  color: #80c044;
}
